.input {
  padding: 10px;
  height: 80vh;
  width: 500px;
  border: 1px solid gray;
  /*text-align: left;*/
  background-color: #C4BED5;
  font-size: 20px;
}

.text-display {
  background-color: #C4BED5;
  height: 80vh;
  width: 500px;
  overflow: scroll;
  padding: 10px;
}

.App {
  background-color: #29407C;
  height: 100%;
  top: 0;
  /*overflow: hidden;*/
  text-align: center;
}

.title {
  color: #C4BED5;
  margin-top: 0;
  padding-top: 20px;
}

.content {
  color: #1D1721;
  text-align: left;
  display: flex;
  /*padding-top: 100px;*/
  align-content: center;
  /*flex-direction: column;*/
  justify-content: space-around;
  flex-wrap: wrap;
}